[Deploy]
truffle_path=
truffle_build_path=
target_contract_name=OracleCore,OracleStorage,TestOracleExample,TestStorage,OracleRegister,OracleWallet,TestWalletDistributor,TestRegister

[Ethereum]
file_ipc=

[Output]
file_path=
